*{
    /* outline: 1px solid #f00; */
}

html{
    scroll-behavior: smooth;
}

.body{
    background-color: #131313;
    color: #fff;
    font-family: "Open Sans", sans-serif;
}

.section{
    padding: 60px 0;
}

.section .section-header h2{
    color: #aaa;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.section .section-header h2:after{
    content: '';
    background-color: #aaa;
    display: inline-block;
    height: 1px;
    margin: 6px 8px;
    width: 120px;
}

.section .section-header p{
    color: #cda45e;
    font-size: 32px;
    font-family: "Playfair Display", serif;
    font-weight: 800;
}

.section img{
    width: 100%;
}

#header .navbar{
    background-color: #000000d9;
    font-family: "Poppins", sans-serif;
}

#header .navbar-brand{
    color: #cda45e;
    font-family: "Playfair Display", serif;
    font-size: 32px;
}

#header a{
    color: #fff;
}

#header a:hover{
    color: #cda45e;
}



.book-a-table-btn, .btn-rounded{
    border: 2px solid #cda45e;
    border-radius: 50px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    transition: all 0.4s ease;
}

#header .book-a-table-btn:hover, .btn-rounded:hover{
    background-color: #cda45e;
    color: #fff;
}

#hero{
    background-image: url(../img/hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;  
    /* filter: brightness(.2);   */
    height: 100vh;
    /* position: relative; */
    box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 20%);
}

#hero h1 span{
    color: #cda45e;
    font-family: "Playfair Display", serif;
}

#about{
    background-image: url(../img/about-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 20%);
}

#about h3{
    font-family: "Playfair Display", serif;
}

#about ul{
    padding: 0;
}

#about li{
    list-style: none;
}


#why{
    color: #fff;
}

#why .box{
    background-color: #1a1814;
    box-shadow: #fff;
    padding: 50px 30px;
}

#why .box span{
    font-size: 28px;
    font-weight: 800;
}

#why .box h3{
    font-family: "Playfair Display", serif;
}

#why .box span{
    color: #cda45e;
    font-size: 28px;
}

#specials .nav-link{
    background-color: #cda45e;
    border-radius: 0;
    color: #fff;
}

#specials .tab-content h3{
    font-family: "Playfair Display", serif;
}

#events .row h3{
    font-family: "Playfair Display", serif;
}

#events .box .price{
    color: #cda45e;
    font-size: 26px;
}

#testimonials .box{
    background-color: #26231d;
    padding: 30px;
}


#testimonials .box img{
    border: 6px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    /* margin: -60px 0 0 40px; */
    /* position: relative; */
    width: 80px;
}

#testimonials .box h3{
    font-family: "Playfair Display", serif;
    font-size: 18px;
}

#testimonials .box h4{
    font-size: 16px;
}

#gallery a{
    transition: all 0.4s ease;
}

#gallery a:hover{
    filter: brightness(.5);
}


#chef .box{
    padding: 40px;
}

#chef .box img{
    margin-bottom: 20px;
}

#chef .box h3{
    color: #cda45e;
    font-family: "Playfair Display", serif;;
    font-size: 18px;
}

#chef .box p{
    font-size: 14px;
}

#contact iframe{
    filter: grayscale(100%);
}

#contact ul{
    padding: 0;
}

#contact li{
    list-style: none;
    margin-bottom: 16px;
}

#contact .info h4{
    color: #cda45e;
    font-family: "Playfair Display", serif;
    font-size: 18px;
}

#contact .info p{
    margin-bottom: 8px;
}

#contact .form label{
    display: none;
}

#contact .form input, #contact .form textarea{
    border: 1px solid #cda45e;
    color: #cda45e;
    background-color: transparent;
    padding: 10px;
    width: 100%;
}

#contact .form input[type="submit"]{
    transition: all 0.4s ease;
}

#contact .form input[type="submit"]:hover{
    background-color: #cda45e;    
    color: #fff;
}

#subject, #textarea{
    width: 100%;
    resize: none;
}

#footer{
    font-family: "Playfair Display", serif;
}

#footer p{
    font-family: "Poppins", serif;
    font-weight: 200;
}

#footer a{
    color: #fff;
    text-decoration: none;
    transition: all 0.4s ease;
}

#footer a:hover{
    color: #cda45e;
}

#footer ul {
    padding: 0;
}

#footer li{
    font-size: 14px;
    font-family: "Poppins", serif;
    font-weight: 200;
    list-style: none;
    margin-bottom: 6px;
    padding: 0;
}

#footer h2{
    color: #cda45e;
}

#footer h3, #footer h4{
    font-size: 18px;
    margin-bottom: 16px;
}
